{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block css %}
<style>
    body {
        font-family: 'Gugi', cursive;
    }

    .container-margin {
        margin-top: 50px;
    }

    .row {
        margin-bottom: 50px;
    }

    .marker {
        height: 16px;
        width: 16px;
        background-color: #3bb2d0;
        border: 3px solid white;
        border-radius: 50%;
        cursor: pointer;
    }

    .marker-depot {
        height: 16px;
        width: 16px;
        background-color: maroon;
        border: 3px solid white;
        border-radius: 50%;
        cursor: pointer;
    }

    /* .mapboxgl-popup {
      max-width: 200px;
    } */

    .mapboxgl-popup-content {
        text-align: center;
        font-family: 'Gugi', cursive;
    }
</style>
{% endblock %}

{% block main %}
<div class="container container-margin">
    <div class="row">
        <div class="col">
            <h2>Tabel Lokasi</h2>
            <button class="btn btn-sm btn-primary location_btn">Tampilkan</button>
            <table id="location_tbl" class="table table-striped table-hover">
                <thead>
                    <th>#</th>
                    <th>Nama</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Demands</th>
                </thead>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-2">Total Buffalo:</div>
        <div class="col"><input type="text" class="input_buffalo_size" name="buffalo_size" placeholder="Default 200"></div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-success btn-lg btn-block result_btn">Jalankan Algoritma</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="result_container">
                <h2>Tabel Hasil</h2>
                <table id="result_tbl" class="table table-striped tabe-hover">
                    <thead>
                        <th>Cluster</th>
                        <th>Buffalo ke -</th>
                        <th>Optimized Route</th>
                        <th>Optimized Distance/Cost</th>
                        <th>Optimized Capacity</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id='map' style='width: 100%; height: 300px;'></div>
        </div>
    </div>
</div>

<div class="modal" id="distance_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tabel biaya jarak dari
                    <span class="distance_modal_name"></span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="distance_tbl" class="table table-striped table-hover">
                    <thead>
                        <th>#</th>
                        <th>Nama</th>
                        <th>Biaya</th>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>

<script>
    $(document).ready(function () {
        $('#location_tbl').hide();
        $('.result_container').hide();
        $('#location_tbl').find('thead').after('<tbody></tbody>');
        $('#result_tbl').find('thead').after('<tbody></tbody>');
        $('#distance_tbl').find('thead').after('<tbody></tbody>');

        mapboxgl.accessToken = 'pk.eyJ1IjoicmlmcWk5NiIsImEiOiJjamZ6bHVwcnk1azRmMnhzMnA0aGg0N2txIn0.qxNKPWPMLvfkcvhMLu1INA';
        var map = new mapboxgl.Map({
            container: 'map',
            zoom: 2,
            center: [110.779582, -7.546792],
            style: 'mapbox://styles/mapbox/streets-v9'
        });
        var depot = null, nodes = null;

        $.ajax({
            url: '{{ url_for("getNodes") }}',
            method: 'get',
            async: false,
            success: function (res) {
                nodes = res;
                var row = '';
                var features = [];
                var center = null;
                for (var i in res) {
                    row += '<tr>' +
                        '<td>' + i + '</td>' +
                        '<td><a href="#" data-toggle="modal" data-target="#distance_modal" title="Tekan untuk lihat biaya jarak antar lokasi" class="show_distance_modal" data-id="' + i + '">' + res[i].name + '</a></td>' +
                        '<td>' + res[i].coor[0] + '</td>' +
                        '<td>' + res[i].coor[1] + '</td>' +
                        '<td>' + res[i].demands + '</td>' +
                        '</tr>';
                    if (res[i].name == "Depot") {
                        depot = res[i];
                    }
                    else if (res[i].name == "Sulomo") {
                        center = res[i];
                    }
                    features.push({
                        type: 'Feature',
                        geometry: {
                            type: 'Point',
                            coordinates: [res[i].coor[1], res[i].coor[0]]
                        },
                        properties: {
                            title: res[i].name,
                            description: '[' + res[i].coor[1] + ' , ' + res[i].coor[0] + ']'
                        }
                    });
                }
                $('#location_tbl').find('tbody').append(row);
                map.on('load', function () {
                    var geojson = {
                        type: 'FeatureCollection',
                        features: features
                    };

                    // add markers to map
                    geojson.features.forEach(function (marker, i) {
                        // create a HTML element for each feature
                        var el = document.createElement('div');
                        if (i === 0) {
                            el.className = 'marker-depot';
                        }
                        else {
                            el.className = 'marker';
                        }

                        // make a marker for each feature and add to the map
                        new mapboxgl.Marker(el)
                            .setLngLat(marker.geometry.coordinates)
                            .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                                .setHTML('<h4>' + marker.properties.title + '</h4><p>' + marker.properties.description + '</p>'))
                            .addTo(map);
                    });

                    map.flyTo({
                        center: [
                            center.coor[1],
                            center.coor[0]
                        ],
                        zoom: 10,
                        speed: 1.2,
                        curve: 1,
                        easing(t) {
                            return t;
                        },
                    });
                    var is_set = false;
                });
                $('.show_distance_modal').tooltip();
                $('.show_distance_modal').click(function (e) {
                    e.preventDefault();
                    $('#distance_tbl').find('tbody').empty();

                    var data = {
                        name: '',
                        distances: []
                    };
                    for (var i in res) {
                        if (i == $(this).data('id')) {
                            data.name = res[i].name;
                            data.distances = res[i].distances;
                            break;
                        }
                    }
                    var row = '';
                    for (var i in data.distances) {
                        row += '<tr>' +
                            '<td>' + i + '</td>' +
                            '<td>' + res[i].name + '</td>' +
                            '<td>' + data.distances[i] + '</td>' +
                            '</tr>';
                    }
                    $('#distance_tbl').find('tbody').append(row);
                    $('.distance_modal_name').text(data.name);
                });
            },
            error: function (res) {
                alert('Error on getting the location table. Please see logs for more info');
                console.log(res);
            }
        });
        $('.location_btn').click(function () {
            $('#location_tbl').toggle(function () {
                if ($(this).is(':visible')) {
                    $('.location_btn').text('Sembunyikan');
                }
                else {
                    $('.location_btn').text('Tampilkan');
                }
            });
        });

        function getResult() {
            $.ajax({
                url: '{{ url_for("results") }}',
                data: { buffalo_size: $('.input_buffalo_size').val() },
                method: 'get',
                cache: false,
                success: function (res) {
                    if ($('.result_container').not(':visible')) {
                        $('.result_container').fadeIn(800);
                    }
                    $('#result_tbl').find('tbody').empty();
                    var route = {};
                    // A single point that animates along the route.
                    // Coordinates are initially set to origin.
                    var origin_point = {
                        "type": "FeatureCollection",
                        "features": [{
                            "type": "Feature",
                            "properties": {},
                            "geometry": {
                                "type": "Point",
                                "coordinates": [depot.coor[1], depot.coor[0]]
                            }
                        }]
                    };
                    var routes = [];
                    var row = '';
                    var num = 1;
                    for (var i in res) {
                        var route_txt = '';
                        var coordinates = null;
                        var route_features = [];
                        for (var j in res[i].routes) {
                            if (j > 0) {
                                var curr_node = res[i].routes[j - 1];
                                var next_node = res[i].routes[j];
                                route_features.push({
                                    "type": "Feature",
                                    "geometry": {
                                        "type": "LineString",
                                        "coordinates": [
                                            [nodes[curr_node].coor[1], nodes[curr_node].coor[0]],
                                            [nodes[next_node].coor[1], nodes[next_node].coor[0]]
                                        ]
                                    }
                                });
                            }
                            if (j == (res[i].routes.length - 1)) {
                                route_txt += res[i].routes[j];
                                break;
                            }
                            route_txt += res[i].routes[j] + ' -> ';
                        }
                        routes.push({
                            "type": "FeatureCollection",
                            "features": route_features
                        });
                        row += '<tr>' +
                            '<td>' + num + '</td>' +
                            '<td>' + res[i].buffalo_no + '</td>' +
                            '<td>' + route_txt + '</td>' +
                            '<td>' + res[i].cost + '</td>' +
                            '<td>' + res[i].total_demands + '</td>' +
                            '</tr>';

                        num++;
                    }
                    $('#result_tbl').find('tbody').append(row);

                    for (var i in routes) {
                        var route = routes[i];
                        for (var j in route.features) {
                            if (map.getLayer('route_' + i + '_' + j) != null) {
                                map.removeLayer('route_' + i + '_' + j);
                            }
                            if (map.getSource('route_source_' + i + '_' + j) != null) {
                                map.removeSource('route_source_' + i + '_' + j);
                            }

                            // Add a source and layer displaying a point which will be animated in a circle.
                            map.addSource('route_source_' + i + '_' + j, {
                                "type": "geojson",
                                "data": route
                            });

                            map.addLayer({
                                "id": "route_" + i + '_' + j,
                                "source": "route_source_" + i + '_' + j,
                                "type": "line",
                                "paint": {
                                    "line-width": 2,
                                    "line-color": getRandomColor()
                                }
                            });
                        }
                    }
                },
                error: function (res) {
                    alert('Error on generating result. Please see logs for more info');
                    console.log(res);
                }
            });
        }

        $('.result_btn').click(getResult);
        $('.input_buffalo_size').keypress(function(e) {
            if (e.which === 13) {
                getResult();
            }
        });

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    });
</script>
{% endblock %}